services:
  mysql:
    image: "mysql:8"
    ports:
      - "${FORWARD_DB_PORT:-3306}:3306"
    secrets:
      - db_root_password
      - db_password
    environment:
      MYSQL_ROOT_PASSWORD_FILE: "${DB_ROOT_PASSWORD_FILE}"
      MYSQL_ROOT_HOST: "%"
      MYSQL_DATABASE: "${DB_DATABASE}"
      MYSQL_USER: "${DB_USERNAME}"
      MYSQL_PASSWORD_FILE: "${DB_PASSWORD_FILE}"
    volumes:
      - "sail-mysql:/var/lib/mysql"
    networks:
      - sail
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      retries: 3
      timeout: 5s
  redis:
    image: "redis:alpine"
    ports:
      - "${FORWARD_REDIS_PORT:-6379}:6379"
    volumes:
      - "${DATA_PATH_HOST}/redis:/data"
    networks:
      - sail
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      retries: 3
      timeout: 5s
  nginx:
    image: nginx:latest
    restart: unless-stopped
    environment:
      - DOMAIN
      - NGINX_FPM_CONTAINER
      - NGINX_FPM_PORT
    depends_on:
      - app
    volumes:
      - ./:/var/www/html
      - ./docker/nginx/templates:/etc/nginx/templates:ro
      - ./docker/etc/letsencrypt:/etc/letsencrypt:ro
      - ./docker/certbot/data:/var/www/certbot
    ports:
      # port mappings, host to docker
      - "${NGINX_HOST_HTTPS_PORT}:443"
      - "${NGINX_HOST_HTTP_PORT}:80"
    networks:
      - sail
  app:
    build:
      context: .
      dockerfile: "./docker/php-fpm/Dockerfile"
    volumes:
      - ./:/var/www/html
    environment:
      - APP_ENV=production
      - APP_DEBUG=false
    networks:
      - sail
    expose:
      - "9000"
    secrets:
      - db_password
      - admin_password
    depends_on:
      - mysql
      - redis

  laravel-horizon:
    build:
      context: ./docker/laravel-horizon
    volumes:
      - ./:/var/www/html
      - ./docker/laravel-horizon/supervisord.d:/etc/supervisord.d
    depends_on:
      - app
    extra_hosts:
      - "dockerhost:${DOCKER_HOST_IP}"
    networks:
      - sail
  certbot:
    image: certbot/certbot:latest
    depends_on:
      - nginx
    command: >-
      certonly --webroot -w /var/www/certbot --force-renewal
      --email ${EMAIL} --agree-tos -d ${DOMAIN}
    volumes:
      - ./docker/etc/letsencrypt:/etc/letsencrypt
      - ./docker/certbot/data:/var/www/certbot

secrets:
  db_root_password:
    file: database/credenciales/root_password.txt
  db_password:
    file: database/credenciales/user_password.txt
  admin_password:
    file: credenciales/admin.txt
networks:
  sail:
    driver: bridge
volumes:
  sail-mysql:
    driver: local
  sail-redis:
    driver: local
  sail-meilisearch:
    driver: local
